@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif;
  background-color: #020617; /* slate-950-ish */
  color: #e5e7eb; /* slate-200-ish */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
